{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!{% endblock %}

{% block body %}


{#    {% for genre in genres %}#}

{#        <a class="btn btn-dark" href="{{ path('app_movie', {id:genre.id}) }}">{{ genre.name }}</a>#}

{{ form(form) }}

    {% endfor %}
{% endblock %}
